version: 2
jobs:
  build:
    docker:
      - image: circleci/node:11
    steps:
      - checkout
      - restore_cache: # special step to restore the dependency cache
          key: dependency-cache-{{ checksum "package.json" }}
      - run: npm install
      - run: CI=true npm run build
  test:
    docker:
      - image: circleci/node:11.15
    steps:
      - checkout
      - run: npm test
workflows:
  version: 2
  build_test_and_lint:
    jobs:
      - build
      - test:
        requires:
          - build
